/bundle/**/**/vendor/
/bundle/**/**/composer.lock
/components/**/**/vendor/
/components/**/**/composer.lock
/tools/*/vendor
/tools/*/composer.lock
/vendor/
/.php-cs-fixer.cache
/.phpunit.result.cache
/composer.lock
